html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*start Override Theme */
.form-floating > .form-select {
    padding-bottom: 0.025rem;
}
/*End Override Theme */

/*start custom styles */
.dt-spinner + div{
    display :none !important;
}
.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.w-fit-content{
    width:fit-content;
}
/*End custom styles */
.h-70px{
    height:70px !important;
}
