<div class="card-header align-items-center py-5 gap-2 gap-md-5">
	<div class="card-title">

		<div class="d-flex align-items-center position-relative my-1">
			<span class="svg-icon fs-1 position-absolute ms-4">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
					<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
				</svg>
			</span>
			<input type="text" data-kt-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search" />
		</div>

		<div id="kt_datatable_example_1_export" class="d-none"></div>

	</div>
	<div class="card-toolbar flex-row-fluid justify-content-end gap-5">

		<button type="button" class="btn btn-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">

			<i class="bi bi-box-arrow-down"></i>
			Export
		</button>

		<div id="kt_datatable_example_export_menu" class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-200px py-4" data-kt-menu="true">

			<div class="menu-item px-3">
				<a href="#" class="menu-link px-3" data-kt-export="copy">
					Copy to clipboard
				</a>
			</div>

			<div class="menu-item px-3">
				<a href="#" class="menu-link px-3" data-kt-export="excel">
					Export as Excel
				</a>
			</div>

			<div class="menu-item px-3">
				<a href="#" class="menu-link px-3" data-kt-export="csv">
					Export as CSV
				</a>
			</div>

			<div class="menu-item px-3">
				<a href="#" class="menu-link px-3" data-kt-export="pdf">
					Export as PDF
				</a>
			</div>

		</div>

		<div id="kt_datatable_example_buttons" class="d-none"></div>

	</div>
</div>