@model ResetPasswordFormViewModel
<form asp-controller="Users" 
	  data-ajax-method="post"
	  data-ajax="true"
	  data-ajax-begin="onModalBegin"
	  data-ajax-success="onModalSuccess"
	  data-ajax-failure="showErrorMessage"
	  data-ajax-complete="onModalComplete">

		<input type="hidden" asp-for="Id" />
	<div class="mb-5">
		<div class="form-floating mb-2">
			<input type="password" class="form-control form-control-solid" placeholder="New password" asp-for="NewPassword" />
			<label for="floatingInput" asp-for="NewPassword"></label>
		</div>
		<span asp-validation-for="NewPassword" class="text-danger d-block"></span>
	</div>
	<div class="mb-5">
		<div class="form-floating mb-2">
			<input type="password" class="form-control form-control-solid" placeholder="Confirm new Password" asp-for="ConfirmNewPassword" />
			<label for="floatingInput" asp-for="ConfirmNewPassword"></label>
		</div>
		<span asp-validation-for="ConfirmNewPassword" class="text-danger d-block"></span>
	</div>
	<partial name="_Modalfooter" />
</form>